body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.continer{
  margin: auto;
  width: 100px;
    padding: 20px;

}
#root{
  border: 1px solid;
  width: 300px;
  margin: 0 auto;
  background-color: darkgray;
}
button{
  width: 90px;
  height: 40px;
  border-radius: 10px;
}
.div{
  width: 111px;
  margin: 0 auto;
  padding: 20px;
}